.calculator-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 5px;
    box-shadow: 0 8px 50px -7px black;
}
.keypad-wrapped {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
